@import "font";
@import "variable";
@import "mixin";
img{
    width: 100%;
    height: auto;
}
body{
    box-sizing: border-box;
}
input,textarea{
    border: 1px solid $dark-03;
}

// contact
.contact{
    max-width: $max-width-homepage;
    margin: auto;
    padding: 20px;
    margin-top: 30px; 
    margin-bottom: 50px;
    row-gap: 20px;
    @include font($fontAlata);
    .contact-title{
        display: block;
        font-size: 40px;
        border-radius: 50px;
        border: 2px solid $primary-blue;
        padding: 10px;
        max-width: 300px;
        text-align: center;
        margin: auto;
    }
    .contact-content{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        margin-top: 60px;
        .info {
            flex: 1;
            max-width: 500px;
            }

        .info h1 {
            font-size: 28px;
            line-height: 1.3;
            // font-weight: 700;
            margin-bottom: 40px;
            font-size: 35px;
            }

        .contact-item {
            display: flex;
            align-items: flex-start;
            gap: 15px;
            margin-bottom: 40px;
            font-size: 20px;
            }

        .icon {
            background: #1e60ff;
            color: white;
            padding: 12px;
            border-radius: 12px;
            font-size: 18px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 50px;
            height: 50px;
            img{
                width: 25px;
                height: 25px;
            }
            }

        .form-container {
            flex: 1;
            background: linear-gradient(to bottom, #1a1a1a, #111);
            color: white;
            border-radius: 20px;
            padding: 30px;
            // min-width: 400px;
            max-width: 500px;
            }

        .form-group {
            margin-bottom: 20px;
            }

        label {
            display: block;
            margin-bottom: 8px;
            // font-weight: 600;
            font-size: 18px;
            }

        #name, #email, select, textarea {
            width: 100%;
            padding: 12px;
            border-radius: 10px;
            border: none;
            background: #333;
            color: #eee;
            font-size: 16px;
            transition: 0.4s;
            &:focus{
                outline: none;
                border: 1px solid #1e60ff;
                box-shadow: 0 0 10px #1e60ff;
                background-color: #0e1b50;
                color: #fff;
            }
            }

        textarea {
            resize: vertical;
            min-height: 100px;
            }

        .checkbox {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 4px;
            margin-bottom: 20px;
            input{
                flex: 1;
            }
            label{
                flex: 16;
                font-size: 12px;
                margin-top: 6px;
                color: #838383;
            }
            }

        .submit-btn {
            width: 100%;
            padding: 14px;
            background: #1e3ca8;
            border: none;
            color: white;
            font-size: 16px;
            border-radius: 12px;
            cursor: pointer;
            }

        .submit-btn:hover {
            background: #1749c3;
            }
    }
}

@media screen and (max-width:1100px){
    .contact{
        .contact-content{
            display: block;
            .form-container{
                max-width: 100%;
            }
        }
        
    }
}

@media screen and (max-width:767px){
    .contact{
        margin-top: 20px;
        .contact-title{
            font-size: 25px;
        }
    }
}
