img {
  width: 100%;
  height: auto;
}

body {
  box-sizing: border-box;
}

input, textarea {
  border: 1px solid #9AA0A0;
}

.contact {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  margin-top: 30px;
  margin-bottom: 50px;
  row-gap: 20px;
  font-family: "Alata";
}
.contact .contact-title {
  display: block;
  font-size: 40px;
  border-radius: 50px;
  border: 2px solid rgb(46, 105, 255);
  padding: 10px;
  max-width: 300px;
  text-align: center;
  margin: auto;
}
.contact .contact-content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 60px;
}
.contact .contact-content .info {
  flex: 1;
  max-width: 500px;
}
.contact .contact-content .info h1 {
  font-size: 28px;
  line-height: 1.3;
  margin-bottom: 40px;
  font-size: 35px;
}
.contact .contact-content .contact-item {
  display: flex;
  align-items: flex-start;
  gap: 15px;
  margin-bottom: 40px;
  font-size: 20px;
}
.contact .contact-content .icon {
  background: #1e60ff;
  color: white;
  padding: 12px;
  border-radius: 12px;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
}
.contact .contact-content .icon img {
  width: 25px;
  height: 25px;
}
.contact .contact-content .form-container {
  flex: 1;
  background: linear-gradient(to bottom, #1a1a1a, #111);
  color: white;
  border-radius: 20px;
  padding: 30px;
  max-width: 500px;
}
.contact .contact-content .form-group {
  margin-bottom: 20px;
}
.contact .contact-content label {
  display: block;
  margin-bottom: 8px;
  font-size: 18px;
}
.contact .contact-content #name, .contact .contact-content #email, .contact .contact-content select, .contact .contact-content textarea {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: none;
  background: #333;
  color: #eee;
  font-size: 16px;
  transition: 0.4s;
}
.contact .contact-content #name:focus, .contact .contact-content #email:focus, .contact .contact-content select:focus, .contact .contact-content textarea:focus {
  outline: none;
  border: 1px solid #1e60ff;
  box-shadow: 0 0 10px #1e60ff;
  background-color: #0e1b50;
  color: #fff;
}
.contact .contact-content textarea {
  resize: vertical;
  min-height: 100px;
}
.contact .contact-content .checkbox {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 4px;
  margin-bottom: 20px;
}
.contact .contact-content .checkbox input {
  flex: 1;
}
.contact .contact-content .checkbox label {
  flex: 16;
  font-size: 12px;
  margin-top: 6px;
  color: #838383;
}
.contact .contact-content .submit-btn {
  width: 100%;
  padding: 14px;
  background: #1e3ca8;
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 12px;
  cursor: pointer;
}
.contact .contact-content .submit-btn:hover {
  background: #1749c3;
}

@media screen and (max-width: 1100px) {
  .contact .contact-content {
    display: block;
  }
  .contact .contact-content .form-container {
    max-width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .contact {
    margin-top: 20px;
  }
  .contact .contact-title {
    font-size: 25px;
  }
}